* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle at center, #1e3c72, #2a5298, #6a11cb, #2575fc);
    background-size: 400% 400%;
    animation: animate 12s ease infinite;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.logo_text {
    display: flex;
    gap: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.164);
}

.navbar ul {
    display: flex;
    gap: 40px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    align-items: center;
}

.navbar a {
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: rgb(48, 176, 235);
    border-radius: 10px;
    transition: 0.5s all ease-out;
}

.second {
    padding: 170px;
}

.main-content {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
}

.main-content h1 {
    font-size: 60px;
    width: fit-content;
}

.main-content h2 {
    font-size: 40px;
    padding-top: 30px;
    width: fit-content;
}

.buttons_sections {
    display: flex;
    gap: 30px;
    padding: 20px;
}

#btn1 {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: bold;
    background-image: linear-gradient(#7D9D9C, #576F72);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    ;
}

#btn2 {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: bold;
    background-image: linear-gradient(#DBE2EF, #3F72AF);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#btn1:hover {
    background-color: rgb(240, 43, 29);
}

.how_work {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 200px;
    width: fit-content;

}

.how_work h1 {
    font-size: 40px;
}

#explain ul {
    font-size: 25px;
}

.success_rate {
    padding: 50px;
}

.three_boxs {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 10px;
}

.heading {
    display: flex;
    padding-left: 260px;
}

.success_rate h1 {
    color: white;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
}

#boxes {
    width: 400px;
    height: 170px;
    background-color: white;
    border-radius: 10px;
}

.two_images {
    width: fit-content;
    display: flex;
    align-items: center;
}

#avtar {
    padding: 13px;
}

#box1_text p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}

#five_star {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#boxes:hover {
    transform: scale(1.1);
    transition: 0.3s all ease-in;
    box-shadow: 0px 20px 20px rgba(255, 255, 255, 0.532);
}

.first_footer {
    background-color: rgb(255, 252, 252);
    height: 100px;
    width: 100%;
}
