/* Custom Font Styles */
@font-face {
    font-family: 'Breda Two';
    src: url('BredaTwo-Light.eot');
    src: local('Breda Two Light'), local('BredaTwo-Light'),
        url('BredaTwo-Light.eot?#iefix') format('embedded-opentype'),
        url('BredaTwo-Light.woff2') format('woff2'),
        url('BredaTwo-Light.woff') format('woff'),
        url('BredaTwo-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 2000px;
    width: 100%;
    margin: auto;
}

/* MARK: Page 1 CSS */
.bg-image {
    background-image: url('Burger\ image.png');
    width: 100%;
    height: 1300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 106px;
    padding-left: 57px;
}

.navbars {
    display: flex;
    margin-top: 140px;
}

li {
    padding: 9px;
}

.navbars {
    list-style: none;
    gap: 17px;
    font-size: 30px;
    font-family: 'Breda Two', sans-serif;
    margin-right: 50px;
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    height: 50px;
    width: 0px;
}

.navbars li:hover {
    background-color: #910115;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(149, 3, 3, 0.714);
}

/* MARK: Page 2 CSS */
.content {
    position: absolute;
    top: 470px;
    padding-left: 67px;
    color: rgb(255, 255, 255);
}

.content h1 {
    font-size: 85px;
    margin: 0%;
    font-family: 'Breda Two', sans-serif;
    font-weight: lighter;
    line-height: 1;
}

.content h2 {
    margin: 0%;
    font-size: 40px;
    font-family: 'Breda Two', sans-serif;
    font-weight: lighter;
    padding-top: 15px;
}

#button1 {
    height: 75px;
    width: 350px;
    background-color: #8c9e00;
    color: white;
    font-size: 40px;
    border-radius: 50px;
    position: relative;
    left: 131px;
    top: 140px;
    font-family: 'Breda Two', sans-serif;
    font-weight: 200;
}

#color-btn {
    color: white;
}

#button1:hover {
    border: none;
    background-color: #910115;
    box-shadow: 0px 12px 30px rgba(149, 3, 3, 0.714);
    transition: all 0.5s ease-in-out;
}

.second-frame {
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #edb65a;
}

.second-frame h1 {
    font-size: 60px;
    font-family: 'Breda Two', sans-serif;
    color: black;
    position: relative;
    top: 50px;
    text-align: center;
}

.three-images p {
    font-family: 'Breda Two', sans-serif;
}

.three-images {
    padding: 40px;
    display: flex;
    gap: 36px;
    justify-content: center;
    position: relative;
    top: 50px;
}

#button2 {
    height: 75px;
    width: 350px;
    background-color: #724902;
    color: white;
    font-size: 40px;
    border-radius: 50px;
    text-align: center;
    border: none;
    font-family: 'Breda Two', sans-serif;
}

#button2:hover {
    border: none;
    background-color: #910115;
    box-shadow: 0px 12px 30px rgba(149, 3, 3, 0.714);
    transition: all 0.5s ease;
}

.three-images img {
    border-radius: 10px;
}

#pic1 h1 {
    text-align: left;
    padding-bottom: 30px;
}

#pic1 h1 {
    font-size: 30px;
}

#pic1 p {
    font-size: 23px;
    padding-top: 20px;
}

.button-area {
    text-align: center;
    padding-top: 50px;
}

#color-btn2 {
    color: white;
}

/* MARK: Page 3 CSS */
.Blur-image {
    background-image: url('blur-buger-image.png');
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pragraph-section {
    align-items: center;
    color: white;
    justify-content: center;
    padding: 180px;
}

.pragraph-section h1 {
    font-size: 70px;
    font-family: 'Breda Two', sans-serif;
    font-weight: 200;
    padding-bottom: 60px;
}

.pragraph-section p {
    font-size: 35px;
    font-family: 'Breda Two', sans-serif;
    font-weight: 100;
}

/* MARK: Page 4 CSS */
.kfc-burgers {
    background-image: url('shape\ 2.png');
    width: 100%;
    height: 509px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#bg-burger {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    filter: drop-shadow(30px 30px 80px rgba(255, 255, 255, 0.961));
}

#classic-bu img {
    height: 290px;
}

#bg-burger p {
    font-size: 30px;
    color: white;
    font-family: 'Breda Two', sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}

#Two-layer-burger2:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

#classic-bu:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* MARK: Page 6 CSS */
.frame5 {
    background-image: url('Rectangle\ 2.0.png');
    width: 100%;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#big-burger-img {
    display: flex;
    float: right;
    border-radius: 20px;
}

#text-frame5 h1 {
    max-width: max-content;
    color: #910115;
    font-size: 70px;
    font-family: 'Breda Two', sans-serif;
}

#text-frame5 p {
    max-width: max-content;
    font-size: 41px;
    font-family: 'Breda Two', sans-serif;
    font-weight: 100;
}

#text-frame5 {
    max-height: max-content;
}

#frame5-img {
    max-width: min-content;
    float: right;
}

#btn3 {
    padding: 20px;
    height: 71px;
    background-color: #910115;
    color: white;
    border: none;
    font-size: 40px;
    font-family: 'Breda Two', sans-serif;
    border-radius: 60px;
}

#button3 {
    margin-top: 40px;
    margin-left: 290px;
    max-width: 450px;
}

#btn3:hover {
    box-shadow: 3px 12px 30px rgba(149, 3, 3, 0.714);
    transition: all 0.7s ease;
}

/* MARK: Page 7 CSS */
.frame6 {
    background-image: url('red-shape-big.png');
    height: 810px;
    display: flex;
    flex-direction: column;
}

.content6 h1 {
    color: white;
    font-size: 70px;
    font-family: 'Breda Two', sans-serif;
    text-align: center;
    padding-top: 30px;
}

#corner-text {
    max-width: max-content;
    max-height: max-content;
    color: white;
    font-family: 'Breda Two', sans-serif;
    font-weight: 100;
    justify-content: space-between;
}

#hold-it {
    display: flex;
    justify-content: center;
}

#img {
    display: flex;
    margin: 0;
    padding: 0;
}

#corner-text {
    display: flex;
}

.platee {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#left-bottom {
    padding-top: 300px;
}

#right-text {
    padding-left: 49px;
}


#complex-img {
    filter: drop-shadow(0px 10px 90px rgba(255, 255, 255));
}

/* MARK: Page 8 CSS */
.frame7 {
    background-image: url('Blur-burger2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
}

#heading7 {
    text-align: center;
}

#heading7 h1 {
    font-size: 70px;
    font-family: 'Breda Two', sans-serif;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.frame7 {
    align-items: center;
    gap: 50px;
}

#first-input {
    width: 414px;
    height: 38px;
    font-size: 20px;
    font-family: 'Breda Two', sans-serif;
    padding: 10px;
}

#top-two {
    display: flex;
    gap: 60px;
    margin: 30px;
}

#middle-two {
    display: flex;
    gap: 60px;
    margin: 30px;
}

#last-two {
    display: flex;
    gap: 60px;
    margin: 30px;
}

#text-box-section {
    max-width: max-content;
}

#text-box-section input {
    border-radius: 10px;
}

#button4 {
    background-color: #910115;
    padding: 8px;
    width: 190px;
    color: white;
    font-family: 'Breda Two', sans-serif;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    margin-left: 120px;
}

#button4:hover {
    box-shadow: 0px 12px 20px rgba(189, 6, 6, 0.714);
    transition: all 0.7s ease;
}

/* MARK: Page 9 CSS */
iframe {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

/* MARK: Page 10 CSS */
.Bottom-work {
    background-image: url('footer-black.png');
    width: 100%;
    height: 585px;
}

#bottom-nav li {
    max-width: max-content;
}

#bottom-nav {
    display: flex;
    gap: 40px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding-top: 130px;
}

#bottom-nav ul {
    font-size: 30px;
    font-family: 'Breda Two', sans-serif;
    color: white;
    list-style: none;
    max-width: max-content;
}

#typebar {
    width: 414px;
    height: 38px;
    font-size: 20px;
    font-family: 'Breda Two', sans-serif;
}

#search-bar input {
    border-radius: 10px;
}

#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#frame-search {
    width: auto;
    gap: 10px;
    display: flex;

}

#search-button {
    width: 120px;
    height: 35px;
    background-color: #910115;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Breda Two', sans-serif;
    border-radius: 10px;
}

#search-button:hover {
    box-shadow: 0px 12px 30px rgba(149, 3, 3, 0.838);
    transition: all 0.7s ease;
}

#three-logos {
    color: white;
    font-family: 'Breda Two', sans-serif;
    font-size: 25px;
}

#img-text {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#last-text p {
    color: white;
    font-family: 'Breda Two', sans-serif;
    font-size: 25px;
    max-width: max-content;

}

#last-text {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}
