* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(60deg, #ff007f,#8e2de2, #4a00e0, #8e2de2, #ff007f);
    background-size: 300% 300%;
    animation: cosmicGradient 22s ease infinite;
    color: white;
}

  @keyframes cosmicGradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

html,
body {

    padding: 0;
    margin: 0;
}

.container {
    max-width: 2000px;
    width: 100%;
    margin: auto;
}

.logo_text {
    display: flex;
    gap: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.164);
}

.navbar ul {
    display: flex;
    gap: 40px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    align-items: center;
}

.navbar a {
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: rgb(48, 176, 235);
    border-radius: 10px;
    transition: 0.5s all ease-out;
}

.second {
    padding: 170px;
}

.main-content {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
}

.main-content h1 {
    font-size: 60px;
    width: fit-content;
}

.main-content h2 {
    font-size: 40px;
    padding-top: 30px;
    width: fit-content;
}

.buttons_sections {
    display: flex;
    gap: 30px;
    padding: 20px;
}

#btn1 {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: bold;
    background-image: linear-gradient(#7D9D9C, #576F72);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#btn2 {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: bold;
    background-image: linear-gradient(#DBE2EF, #3F72AF);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#btn1:hover {
    background-color: rgb(240, 43, 29);
}

.report_found_section {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    padding: 50px;
}

.text {
    padding-bottom: 30px;
}

.text h1 {
    text-align: center;
    font-size: 40px;
}

.text p {
    font-size: 19px;
    padding: 10px;
}

.item_names {
    padding: 10px;
}

.item_names h2 {
    font-size: 28px;
    text-align: left;
    width: fit-content;
    padding-bottom: 10px;
}

.item_names input {
    font-size: 18px;
    padding: 10px;
    width: 900px;
}

.found_category {
    padding: 10px;
}

.found_category h2 {
    font-size: 28px;
    padding-bottom: 10px;
}

.category_buttons {
    display: flex;
    gap: 10px;
}

#ibtn {
    padding: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.description_sec {
    padding: 10px;
}

.description_sec h2 {
    font-size: 28px;
    padding-bottom: 10px;
}

.description_sec textarea {
    width: 900px;
    height: 70px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.upload_btn {
    padding: 10px;
}

#upload {
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #010101;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 180px;
    height: 50px;
}

.date_time_sec {
    padding-top: 20px;
}

.date_time_sec h2 {
    font-size: 28px;
    padding-bottom: 10px;
}

.flex_time {
    display: flex;
    justify-content: space-between;
}

#preview {
    color: white;
}

.flex_time input {
    padding: 10px;
}

.flex_time a {
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.found_location {
    padding: 10px;
}

.found_location h2 {
    padding-bottom: 10px;
    font-size: 28px;
}

.found_location input {
    width: 450px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.founder_info h2 {
    padding: 10px;
    font-size: 28px;
}

.fill_section {
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fill_section input {
    padding: 10px;
    height: 10px;
    width: 500px;
}

#namw1 {
    display: flex;
    gap: 225px;
    padding: 10px;
}

#em1 {
    display: flex;
    gap: 150px;
    padding: 10px;
}

#ph {
    display: flex;
    gap: 136px;
    padding: 10px;
}

.fill_sec {
    width: 800px;
    margin: 0 auto;
}

.search_header h1 {
    font-size: 40px;
    text-align: center;
    padding: 30px;
    color: white;
}

.search_sec {
    text-align: center;
    display: flex;
    justify-content: center;
}

.search_sec input {
    width: 450px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search_sec i {
    font-size: 20px;
    background-color: rgb(146, 146, 146);
    padding: 14px;
    border-radius: 0px 10px 10px 0px;
}

.section_part {
    display: inline-block;
    gap: 30px;
    padding-top: 40px;
    width: 100%;
    text-align: left;
}

.firs {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    width: fit-content;
}

.seco {
    display: flex;
    justify-content: center;
    gap: 17px;
    padding: 10px;
    width: fit-content;
}

.thir {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 10px;
    width: fit-content;
}

.thir input {
    width: 237px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section_part select {
    width: 250px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.date_Sec {
    padding: 10px;
    width: fit-content;
}

.image_containers1 {
    padding: 10px;
    display: flex;
    gap: 30px;
}

.frame1 {
    width: 230px;
    height: 300px;
    background-color: #F8F8F8 ;
    border: 10px;
    border-radius: 20px;
    color: #333333;
    border: 4px solid #E0E0E0;
}

.frame1 img {
    border-radius: 30px;
    padding: 20px;
}

.image {
    display: flex;
    justify-content: center;
}

.image_containers2 {
    padding: 10px;
    display: flex;
    gap: 30px;
}

#heading {
    padding-left: 20px;
}

.detl1 {
    padding-top: 6px;
    padding-left: 20px;
}

.claim_btn {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#claim_btn {
    padding: 2px;
    width: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 6px;
    background-color: #8E2DE2 ;
    color: white;
}
