* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #576F72;
}


.logo_text {
    display: flex;
    gap: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.164);
}

.navbar ul {
    display: flex;
    gap: 40px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    align-items: center;
}

.navbar a {
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: rgb(48, 176, 235);
    border-radius: 10px;
    transition: 0.5s all ease-out;
}

.second {
    padding: 170px;
}

.main-content {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
}

.main-content h1 {
    font-size: 60px;
    width: fit-content;
}

.main-content h2 {
    font-size: 40px;
    padding-top: 30px;
    width: fit-content;
}

.buttons_sections {
    display: flex;
    gap: 30px;
    padding: 20px;
}

#btn1 {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: bold;
    background-image: linear-gradient(#7D9D9C, #576F72);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    ;
}

#btn2 {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: bold;
    background-image: linear-gradient(#DBE2EF, #3F72AF);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#btn1:hover {
    background-color: rgb(240, 43, 29);
}

.report_found_section {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    padding: 30px;
}

.text {
    padding: 30px;
}

.text h1 {
    text-align: center;
    font-size: 40px;
}

.text p {
    font-size: 19px;
    padding: 10px;
}

.item_names h2 {
    font-size: 28px;
    text-align: left;
    width: fit-content;
    padding: 10px;
}

.item_names input {
    font-size: 18px;
    padding: 10px;
    width: 900px;
}

.found_category {}

.found_category h2 {
    font-size: 28px;
    padding: 10px;
}

.category_buttons {
    display: flex;
    gap: 10px;
}

#ibtn {
    padding: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.description_sec h2 {
    font-size: 28px;
    padding: 10px;
}

.description_sec textarea {
    width: 900px;
    height: 70px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.upload_btn {}

#upload {
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #010101;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 180px;
    height: 50px;
}

.date_time_sec h2 {
    font-size: 28px;
    padding: 10px;
}

.flex_time {
    display: flex;
    justify-content: space-between;
}

.flex_time input {
    padding: 10px;
}

.flex_time a {
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.found_location h2{
    padding: 10px;
    font-size: 28px;
}

.found_location input {
    width:450px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.founder_info h2{
    padding: 10px;
    font-size: 28px;
}

.fill_section{
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fill_section  input{
    padding: 10px;
    height: 10px;
    width: 400px;
}

#namw1{
    display: flex;
}

#em1{
     display: flex;
    gap: 150px;

}
